<a href="https://colab.research.google.com/github/vaishnavi-1/Electricity-theft-detection-using-ML/blob/main/Data_preprocess_ETD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cloning the data

In [ ]:
!git clone https://github.com/henryRDlab/ElectricityTheftDetection.git

Cloning into 'ElectricityTheftDetection'...
remote: Enumerating objects: 58, done.
remote: Total 58 (delta 0), reused 0 (delta 0), pack-reused 58
Unpacking objects: 100% (58/58), done.

In [ ]:
%cd /content/ElectricityTheftDetection

/content/ElectricityTheftDetection

In [ ]:
!zip -F data.zip --out res.zip
!unzip res.zip

Fix archive (-F) - assume mostly intact archive
 copying: data.csv
Archive:  res.zip
  inflating: data.csv
  error:  invalid compressed data to inflate
error: invalid zip file with overlapped components (possible zip bomb)

## Importing libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
!ln -s /content/drive/My\ Drive/ /B.TECHPROJECT

In [ ]:
df = pd.read_csv('/content/ElectricityTheftDetection/data.csv')

In [ ]:
df.head()

,CONS_NO,FLAG,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,0387DD8A07E07FDA6271170F86AD9151,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,01D6177B5D4FFE0CABA9EF17DAFC2B84,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,4B75AC4F2D8434CFF62DB64D0BB43103,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B32AC8CC6D5D805AC053557AB05F5343,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,EDFC78B07BA2908B3395C4EB2304665E,1,2.9,3.42,3.81,4.58,3.56,4.25,3.86,3.53,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31

In [ ]:
df

,CONS_NO,FLAG,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,0387DD8A07E07FDA6271170F86AD9151,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,01D6177B5D4FFE0CABA9EF17DAFC2B84,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,4B75AC4F2D8434CFF62DB64D0BB43103,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B32AC8CC6D5D805AC053557AB05F5343,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,EDFC78B07BA2908B3395C4EB2304665E,1,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,9E726157C304B05D0057FCA8EF4A0DE4,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.88,184.34,172.69,205.44,207.64,233.38,194.74,183.91,182.19,256.04
33837,6B748296C244E9AC3F80A61D859BE74E,0,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,...,0.83,4.83,6.50,NaN,7.33,5.83,7.00,5.48,5.16,8.16
33838,038BAAC5F0A7AFA46BAAC8CB76E77C67,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.97,5.70,6.41,6.88,9.70,8.25,8.91,8.30,7.41,7.80
33839,C4D81686BEF24091C802E6C38C4166C4,0,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,...,0.24,0.45,0.16,0.16,0.17,0.19,0.29,0.23,0.20,0.26
33840,7036AB09F285712679AE85BC18191B64,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
Y = df['FLAG']
df.drop(['CONS_NO','FLAG'],axis=1,inplace= True)

In [ ]:
df[27580:]

,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,2014/1/17,2014/1/18,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
27580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.46,8.67,12.55,6.72,12.67,14.82,15.20,12.92,11.92,11.35
27581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.26,3.57,1.39,4.06,1.25,2.80,1.35,1.53,1.32,0.55
27582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.57,23.95,17.46,29.68,24.87,24.50,24.72,20.42,18.93
27583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.60,107.04,31.67,93.07,26.28,150.26,136.76,116.00,124.84,106.00
27584,2.22,2.56,4.21,2.65,2.97,2.98,2.60,3.36,2.93,5.71,...,2.23,3.52,2.50,3.27,2.94,2.91,2.91,2.97,2.68,2.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.88,184.34,172.69,205.44,207.64,233.38,194.74,183.91,182.19,256.04
33837,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,1.29,1.36,...,0.83,4.83,6.50,NaN,7.33,5.83,7.00,5.48,5.16,8.16
33838,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.97,5.70,6.41,6.88,9.70,8.25,8.91,8.30,7.41,7.80
33839,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,0.05,0.14,...,0.24,0.45,0.16,0.16,0.17,0.19,0.29,0.23,0.20,0.26
33840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isna().sum()

2014/1/1     13181
2014/1/10    13144
2014/1/11    13145
2014/1/12    13144
2014/1/13    13143
             ...
2016/9/5       419
2016/9/6       440
2016/9/7       350
2016/9/8       286
2016/9/9       298
Length: 1034, dtype: int64

In [ ]:
next(df.iterrows())[1]

2014/1/1       NaN
2014/1/10      NaN
2014/1/11      NaN
2014/1/12      NaN
2014/1/13      NaN
             ...
2016/9/5     18.05
2016/9/6     26.47
2016/9/7     18.75
2016/9/8     17.84
2016/9/9     14.92
Name: 0, Length: 1034, dtype: float64

In [ ]:
import csv

In [ ]:
df

,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,2014/1/17,2014/1/18,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.88,184.34,172.69,205.44,207.64,233.38,194.74,183.91,182.19,256.04
33837,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,1.29,1.36,...,0.83,4.83,6.50,NaN,7.33,5.83,7.00,5.48,5.16,8.16
33838,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.97,5.70,6.41,6.88,9.70,8.25,8.91,8.30,7.41,7.80
33839,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,0.05,0.14,...,0.24,0.45,0.16,0.16,0.17,0.19,0.29,0.23,0.20,0.26
33840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data Interpolation and TSR of thumb

In [ ]:

for index, row in df[0:27580].iterrows():
  for i in range(len(row)):
    l = len(row)-1
    if (row.isnull()[0]):
      row[0] = 0
    if (row.isnull()[l]):
      row[l] = 0
    if (i>0 and i<l and row.isnull()[i]):
      if (row.isnull()[i-1]== False and row.isnull()[i+1]== False):
        row[i] = (row[i-1]+row[i+1])/2
      else:
        row[i] = 0
  avg = np.average(row)
  st = np.std(row)
  for i in range(len(row)):
    thr = avg+2*st
    if(row[i]>thr):
      row[i] = thr
  output_dir = '/content/drive/MyDrive/B.TECH PROJECT'+'output.txt'
  with open(output_dir, "a") as f:
    f.write(" ".join([("%.3f" %a ) for a in row]) + '\n')

In [ ]:

for index, row in df[27580:].iterrows():
  for i in range(len(row)):
    l = len(row)-1
    if (row.isnull()[0]):
      row[0] = 0
    if (row.isnull()[l]):
      row[l] = 0
    if (i>0 and i<l and row.isnull()[i]):
      if (row.isnull()[i-1]== False and row.isnull()[i+1]== False):
        row[i] = (row[i-1]+row[i+1])/2
      else:
        row[i] = 0
  avg = np.average(row)
  st = np.std(row)
  for i in range(len(row)):
    thr = avg+2*st
    if(row[i]>thr):
      row[i] = thr
  output_dir = '/content/drive/MyDrive/'+'output1.txt'
  with open(output_dir, "a") as f:
    f.write(" ".join([("%.3f" %a ) for a in row]) + '\n')

In [ ]:
y = pd.DataFrame(Y)

In [ ]:
y.to_csv('/content/drive/MyDrive/y.csv')

In [ ]:
output_dir = '/content/drive/MyDrive/'+'B.TECH PROJECToutput.txt'

In [ ]:
data = pd.read_csv(output_dir, sep=" ", header=None)
#data.columns = ["a", "b", "c", "etc."]

In [ ]:
data= data[0:27580]
data

,0,1,2,3,4,5,6,7,8,9,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,10.120,9.96,16.92,7.60,24.324,18.05,24.324,18.750,17.840,14.920
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,6.500,9.99,11.78,18.59,24.180,18.57,14.590,12.820,19.370,15.920
4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,15.636,10.37,15.32,13.51,12.230,14.68,15.636,15.636,15.636,15.636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27575,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,1.095,2.19,3.35,2.46,3.040,5.76,3.510,2.700,3.300,5.780
27576,16.05,11.84,15.60,19.91,19.07,13.94,13.33,16.24,19.56,18.04,...,9.150,14.67,12.98,8.22,10.780,12.65,14.180,12.890,13.650,12.050
27577,1.92,3.30,2.78,2.53,3.68,3.01,2.86,2.93,2.49,2.74,...,2.240,2.44,2.24,2.30,3.160,3.08,2.470,2.440,3.020,2.380
27578,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,4.910,4.71,3.58,3.71,4.110,3.77,3.660,3.240,3.770,3.450
27579,5.27,4.12,5.41,5.97,4.07,5.44,4.88,4.68,4.12,4.97,...,3.750,3.26,4.48,3.92,7.230,6.46,9.460,8.170,10.380,4.880

In [ ]:
output_dir = '/content/drive/MyDrive/'+'output1.txt'
data1 = pd.read_csv(output_dir, sep=" ", header=None)

In [ ]:
data1 = data1[0:6261]

In [ ]:
data1

,0,1,2,3,4,5,6,7,8,9,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
0,0.00,0.00,0.000,0.00,0.00,0.00,0.0,0.00,0.00,0.000,...,4.460,8.67,12.55,6.72,12.670,14.820,15.200,12.92,11.92,11.35
1,0.00,0.00,0.000,0.00,0.00,0.00,0.0,0.00,0.00,0.000,...,1.260,3.57,1.39,4.06,1.250,2.800,1.350,1.53,1.32,0.55
2,0.00,0.00,0.000,0.00,0.00,0.00,0.0,0.00,0.00,0.000,...,9.285,18.57,23.95,17.46,28.497,24.870,24.500,24.72,20.42,18.93
3,0.00,0.00,0.000,0.00,0.00,0.00,0.0,0.00,0.00,0.000,...,95.600,107.04,31.67,93.07,26.280,125.856,125.856,116.00,124.84,106.00
4,2.22,2.56,4.062,2.65,2.97,2.98,2.6,3.36,2.93,4.062,...,2.230,3.52,2.50,3.27,2.940,2.910,2.910,2.97,2.68,2.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6256,0.00,0.00,0.000,0.00,0.00,0.00,0.0,0.00,0.00,0.000,...,2.330,2.53,2.09,3.23,2.790,2.700,2.840,3.07,2.37,2.43
6257,0.00,0.00,0.000,0.00,0.00,0.00,0.0,0.00,0.00,0.000,...,9.480,17.20,10.86,9.01,13.240,8.520,7.710,7.36,6.96,7.88
6258,0.00,0.00,0.000,0.00,0.00,0.00,0.0,0.00,0.00,0.000,...,5.590,5.23,3.64,4.13,4.550,3.390,3.160,4.03,3.52,4.86
6259,0.00,0.00,0.000,0.00,0.00,0.00,0.0,0.00,0.00,0.000,...,0.000,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.00,0.00
6260,0.00,0.00,0.000,0.00,0.00,0.00,0.0,0.00,0.00,0.000,...,6.230,5.38,5.19,5.44,5.880,5.070,6.440,4.99,5.60,6.23

In [ ]:
data_final = pd.concat([data,data1])

In [ ]:
data_final

,0,1,2,3,4,5,6,7,8,9,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,10.120,9.96,16.92,7.60,24.324,18.05,24.324,18.750,17.840,14.920
1,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000
2,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000
3,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,6.500,9.99,11.78,18.59,24.180,18.57,14.590,12.820,19.370,15.920
4,2.9,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,15.636,10.37,15.32,13.51,12.230,14.68,15.636,15.636,15.636,15.636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6256,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,2.330,2.53,2.09,3.23,2.790,2.70,2.840,3.070,2.370,2.430
6257,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,9.480,17.20,10.86,9.01,13.240,8.52,7.710,7.360,6.960,7.880
6258,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.590,5.23,3.64,4.13,4.550,3.39,3.160,4.030,3.520,4.860
6259,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000
6260,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,6.230,5.38,5.19,5.44,5.880,5.07,6.440,4.990,5.600,6.230

In [ ]:
y = np.array(y)

In [ ]:
y.shape

(33841, 1)

In [ ]:
data_final['OutPut'] = y

In [ ]:
data_final

,0,1,2,3,4,5,6,7,8,9,...,1025,1026,1027,1028,1029,1030,1031,1032,1033,OutPut
0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,9.96,16.92,7.60,24.324,18.05,24.324,18.750,17.840,14.920,1
1,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000,1
2,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000,1
3,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,9.99,11.78,18.59,24.180,18.57,14.590,12.820,19.370,15.920,1
4,2.9,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,10.37,15.32,13.51,12.230,14.68,15.636,15.636,15.636,15.636,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6256,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,2.53,2.09,3.23,2.790,2.70,2.840,3.070,2.370,2.430,0
6257,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,17.20,10.86,9.01,13.240,8.52,7.710,7.360,6.960,7.880,0
6258,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.23,3.64,4.13,4.550,3.39,3.160,4.030,3.520,4.860,0
6259,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000,0
6260,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.38,5.19,5.44,5.880,5.07,6.440,4.990,5.600,6.230,0

In [ ]:
dt = data_final

In [ ]:
idx = []
for i in range(len(dt)):
  idx.append(i)

In [ ]:
import numpy as np

In [ ]:
dt.set_index(np.array(idx),inplace=True)

In [ ]:
dt.to_csv('/content/drive/MyDrive/data_final.csv')

In [ ]:
load_data = pd.read_csv('/content/drive/MyDrive/data_final.csv')

In [ ]:
load_data

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1025,1026,1027,1028,1029,1030,1031,1032,1033,OutPut
0,0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,9.96,16.92,7.60,24.324,18.05,24.324,18.750,17.840,14.920,1
1,1,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000,1
2,2,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000,1
3,3,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,9.99,11.78,18.59,24.180,18.57,14.590,12.820,19.370,15.920,1
4,4,2.9,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,...,10.37,15.32,13.51,12.230,14.68,15.636,15.636,15.636,15.636,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,33836,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,2.53,2.09,3.23,2.790,2.70,2.840,3.070,2.370,2.430,0
33837,33837,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,17.20,10.86,9.01,13.240,8.52,7.710,7.360,6.960,7.880,0
33838,33838,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.23,3.64,4.13,4.550,3.39,3.160,4.030,3.520,4.860,0
33839,33839,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000,0
33840,33840,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.38,5.19,5.44,5.880,5.07,6.440,4.990,5.600,6.230,0

# **Normalised Data**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data_final.csv')
df.drop(['Unnamed: 0'],axis =1,inplace=True)
Y = df['OutPut']
df.drop(['OutPut'],axis=1,inplace=True)

In [ ]:
mt = np.array(df)
mt.shape

(33841, 1034)

In [ ]:
for i in range(len(mt)):
  mx = mt[i].max()
  mn = mt[i].min()
  if( (mx-mn)==0):
    continue
  for j in range(len(mt[i])):
    mt[i][j] = (mt[i][j]-mn)/(mx-mn)

In [ ]:
data = pd.DataFrame(mt)
data

,0,1,2,3,4,5,6,7,8,9,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.416050,0.409472,0.695609,0.312449,1.000000,0.742065,1.000000,0.770844,0.733432,0.613386
1,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.268817,0.413151,0.487179,0.768817,1.000000,0.767990,0.603391,0.530190,0.801075,0.658395
4,0.185469,0.218726,0.243668,0.292914,0.22768,0.271809,0.246866,0.225761,0.218086,0.054362,...,1.000000,0.663213,0.979790,0.864032,0.782169,0.938859,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.452779,0.491644,0.406141,0.627672,0.542169,0.524679,0.551885,0.596580,0.460552,0.472211
33837,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.491982,0.892625,0.563600,0.467590,0.687114,0.442161,0.400125,0.381961,0.361202,0.408947
33838,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.912206,0.853460,0.593995,0.673956,0.742493,0.553198,0.515666,0.657637,0.574413,0.793081
33839,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33840,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.615005,0.531096,0.512340,0.537019,0.580454,0.500494,0.635735,0.492596,0.552813,0.615005

In [ ]:
data['OutPut'] = Y

In [ ]:
data.to_csv('/content/drive/MyDrive/Normalised_data_final.csv')